---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Welcome";
---

<BaseLayout pageTitle={pageTitle}>
    <hr />
    <div class="presentation flex flex-col items-center justify-center">
        <img src="/adrar.svg" class="w-64 h-64 m-8" role="img" />
        <div class="container">
            <h3>Welcome to Adrar formation !</h3>
            <p>
                Your journey to become fluent in English starts here. Whether
                you're a beginner or already confident, our app helps you
                improve at your own pace with interactive lessons, fun
                exercises, and real-life situations. Each session brings you
                closer to speaking with confidence and enjoying English in
                everyday life.
            </p>
            <p><strong>Ready? Let's learn,let's speak, let's shine!</strong></p>
        </div>
    </div>
    <hr />
    <div class="test">
        <h3>Know your level</h3>
        <div class="container" style="width: 15em;">
            <p><strong>Start the test</strong></p>
            <p>25 minutes</p>
        </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</BaseLayout>
<style is:global>
    h1 {
        color: rgb(0, 0, 0);
        font-size: 4rem;
        text-align: center;
    }
    .presentation {
        display: flex;
        flex-direction: column;
    }
    .test {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: x-large;
    }
    .container {
        text-align: center;
        border-radius: 25px;
        border: solid white;
        padding: 15px;
        margin: 15px;
        background-color: #3b73cc;
    }
</style>
