---

---

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/tags/">Tags</a>
    <a href="#"><input type="text" name="" id="" placeholder="search" /></a>
</div>
